body {
    background-color: #F4F4F4;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 30px;
    color: #555555;
    font-weight: 200;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    margin: auto;
    height: 80px;
    display: inline-block;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
}

.logo {
    float: left;
    padding-top: 9px;
}

#navbar a {
    font-size: 18px;
    padding: 30px;
    font-family: 'NovecentowideLightBold', 'Source Sans Pro', sans-serif;
}

.navbar-default .navbar-brand {
    font-size: 42px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    float: right;
    font-family: 'NovecentowideLightBold', 'Source Sans Pro', sans-serif;
}

.navbar-default .navbar-brand:hover {
    color: #f46902 !important;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

#navbar a:hover {
    color: #f46902 !important;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

#navbar li.active a {
    background-color: transparent;
    font-weight: 600;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-nav {
    float: right;
    padding-right: 30px;
}

@media (max-width: 640px) {
    .navbar-default .navbar-brand {
        display: none;
    }
}

@media (max-width: 1000px) {
    .navbar-nav {
        padding-right: 0px;
    }
    #navbar a {
        padding-right: 20px;
        padding-left: 20px;
    }
}
/* Footer
-------------------------------------------------- */

.footer {
    background-color: #F4F4F4;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.footer p {
    font-size: 18px;
    margin-top: 10px;
    color: #777;
    position: absolute;
}

.footer a {
    color: #b55e5e;
    font-size: 16px;
    margin-top: 10px;
}

.footer .pull-right {
    color: #b55e5e;
    font-size: 16px;
    margin-top: 10px;
    right: 10%;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
    height: 650px;
    margin-top: 80px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */

.carousel .item {
    height: 650px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 650px;
    max-width: none;
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
}
/* Featurettes
------------------------- */

#row-1 {
    background-color: #FAFAFA;
    padding-bottom: 80px;
    padding-top: 80px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

#row-2 {
    background-color: #F4F4F4;
    padding-bottom: 80px;
    padding-top: 80px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

#row-3 {
    background-color: #FAFAFA;
    padding-bottom: 80px;
    padding-top: 80px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.first-col7 {}
/* 1st image */

.first-col5 {
    visibility: hidden;
}

.effects .first-image {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}

.effects {
    width: 500px;
}

.effects .first-image img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}
/* ============================================================
  EFFECT 5 - ICON BORDER ANIMATE
============================================================ */

#effect-1 .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

#effect-1 .overlay a.expand {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#effect-1 .first-image:hover .overlay {
    opacity: 1;
}

#effect-1 .first-image:hover .overlay a.expand {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    border-radius: 120px;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 500px;
}

a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 90px;
    height: 90px;
    margin-top: 50px;
    border: solid 5px #fff;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    line-height: 100px;
    font-weight: 500;
    font-size: 30px;
}

a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
    border-radius: 500px;
}

a.close-overlay.hidden {
    display: none;
}

.second-col7 {}
/* 2nd image */

.second-col5 {
    visibility: hidden;
}

.third-col7 {}
/* 3rd image */

.third-col5 {
    visibility: hidden;
}

.featurette-divider {
    border: 1px solid #555555;
    opacity: .2;
    visibility: hidden;
    /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -1px;
    margin-top: 120px;
    font-size: 60px;
    display: inline-block;
    color: #555555;
}

.featurette-heading:hover {
    font-weight: 350;
    text-decoration: none;
    color: #f46902
}
/* Project Box 
------------------------- */

#project-box {
    text-align: center;
    cursor: pointer;
    border: 3px solid #636366;
    cursor: pointer;
    width: 75%;
    margin: auto;
    visibility: hidden;
}

#project-divider.featurette-divider {
    margin: 10px 0;
}

#project-box a {
    font-size: 30px;
    margin-left: 300px;
    margin-right: 100px;
    color: darkred;
    display: block;
    margin: auto;
}

#project-box p {
    font-size: 20px;
    color: dimgrey;
}

.project-list {
    cursor: pointer;
    color: darkred;
}

.slider {
    overflow-y: scroll;
    max-height: 500px;
    /* approximate max height */
    
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
    max-height: 0;
}